html {
    scroll-behavior: smooth; 
  }
  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
@font-face {
    font-family: Roboto;
     src: url("./fonts/Roboto.ttf");
   }

* {
    box-sizing: border-box
    }
.body_cv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0; 
    padding: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    }
.header_cv {
    max-width: 1440px;
    margin: 0 auto;
    height: 50px;
    background-image: linear-gradient(
    -40deg, #6176ab 0%, #edf0f5 100%);
    border: 2px solid #c5d0db
    }
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    }
.nav-link {
    padding: 0 20px;
    line-height: 10px;
    text-decoration: none;
    color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.5));
    cursor: pointer
    }
.nav-link:hover {
    filter: brightness(0.9);
    }

.main_cv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1440px;
    margin: 0 auto;
    max-height: 850px;
    background-image: linear-gradient(
    -40deg, #e7e3fa 0%, #fcfbff 100%);
    }
.summary-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
.section {
    width: 45%;
    }
.side_cv {
    position: relative;
    margin-top: 20px;
    width: 35%;
    height: 90%;
    padding-left: 2px;
    padding-top: 40px;
    background: #ffffff;
    border-radius: 30px;
    box-shadow: -5px -5px 5px 5px #cccccc;
    font-style: italic;
    line-height: 2;
    color:darkslateblue;
    }

.section_title_side {
    text-align: center;
    }

.summary {
    position: relative;
    margin-top: 20px;
    width: 55%;
    height: 90%;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 30px;
    background: #ffffff;
    border: 0 solid #c5d0db;
    border-radius: 30px;
    box-shadow: -5px -5px 5px 5px #cccccc;
    color:darkslateblue;    
    }
.footer_cv {
    max-width: 1440px;
    margin: 0 auto;
    height: 50px;
    background-image: linear-gradient(
    -40deg, #6176ab 0%, #edf0f5 100%);
    border: 2px solid #c5d0db
    }
.footer_item_cv {
    margin-right: 300px;
    opacity: 0.9;
    }
.year {
    margin-left: 200px;
    }
    


