@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto.ttf");
}

html {
    scroll-behavior: smooth; 
    }

* {
    box-sizing: border-box;
    }
.body_cv {
    margin: 0; 
    padding: 0;
    min-height: 320px;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    }
.header_cv, 
.footer_cv {
    max-width: 1440px;
    margin: 0 auto;
    height: 55px;
    background-image: linear-gradient(
    -40deg, #6176ab 0%, #edf0f5 100%);
    border: 2px solid #c5d0db;
    }

/*-----------------------------------header--------------------------------------------*/

.navigation {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    }
.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    margin-block-start: 13px;
    margin-right: 20px;
    list-style: none;
    }
.nav-link {
    display: block;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.5));
    text-align: center;
    cursor: pointer;
    }
.nav-link:hover {
    filter: brightness(0.9);
    }

/*-----------------------------------main--------------------------------------------*/
.main_cv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1440px;
    height: auto;
    min-height: 280px;
    height: calc(100vh - 110px);
    background-image: linear-gradient(
    -40deg, #e7e3fa 0%, #fcfbff 100%);
    }
.summary-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
.section {
    width: 45%;
    }
.side_cv {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 35%;
    height: 90%;
    padding-left: 2px;
    font-style: italic;
    line-height: 2;
    color:#483d8b;
    background: #ffffff;
    border-radius: 30px;
    box-shadow: -5px -5px 5px 5px #cccccc;
    }
.photo {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    max-width: 420px;
    height: 500px;
    align-items: center;
    background: url('./Eduard.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.section_title {
    position: relative;
    }
.section_title::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 3px;
    width: 200px;
    background-color: #483d8b;
    }
.section_title_side {
    text-align: center;
    }
.summary {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 55%;
    height: 90%;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 30px;
    background: #ffffff;
    border: 0 solid #c5d0db;
    border-radius: 30px;
    box-shadow: -5px -5px 5px 5px #cccccc;
    color: #483d8b;    
    }
/*-----------------------------------footer--------------------------------------------*/
.footer_cv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 0;
    }
.footer_item_cv {
    padding: 0 100px;
    }
.year {
    position: relative;
    padding: 0 100px;
    color: #483d8b; 
   }
.githab {
    padding: 0 100px;
    text-decoration: none; 
    color: #483d8b;
    font-weight: bold;
    font-style: normal;
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.5));
    }